<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><center><h2>{{detalhe.nomeCompleto}} - {{detalhe.numero}}</h2></center></div>
        <div class="col-sm-2">
        	<center>
	        	<img title="profile image" class="img-responsive" ng-src="{{detalhe.fotoUrl}}">
        	</center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group" style=" font-size: 12px">

                <li class="list-group-item text-muted">Dados</li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong>Nascimento: &nbsp;</strong></span>
                    {{detalhe.dataDeNascimento  | date:'dd/MM/yyyy'}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Estado Civil: &nbsp;</strong></span> {{detalhe.descricaoEstadoCivil}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Grau de Instrução: &nbsp;</strong></span> {{detalhe.grauInstrucao}}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Ocupação: &nbsp;</strong></span> {{detalhe.ocupacao}}</li>
                    <li class="list-group-item text-right"></li>
                    <li class="list-group-item text-muted">Despesas</li>
                    <li class="list-group-item text-right" ng-if="isVereador"><span class="pull-left"><strong>Limite de Gastos: &nbsp;</strong></span>{{gastos.despesas.limiteDeGasto1T  | currency:'R$ '}}</li>
                    <li class="list-group-item text-right" ng-if="!isVereador"><span class="pull-left"><strong>Limite de Gastos: &nbsp;</strong></span>{{detalhe.gastoCampanha1T  | currency:'R$ '}}</li>
                    <li class="list-group-item text-right" ng-if="isVereador"><span class="pull-left"><strong>Despesas Contratadas: &nbsp;</strong></span> {{gastos.despesas.totalDespesasContratadas  | currency:'R$ '}}</li>
                    <li class="list-group-item text-right" ng-if="isVereador"><span class="pull-left"><strong>Despesas Pagas: &nbsp;</strong></span> {{gastos.despesas.totalDespesasPagas  | currency:'R$ '}}</li>
                    <li class="list-group-item text-right" ng-if="isVereador"></li>
                    <li class="list-group-item text-muted" ng-if="isVereador">Propostas</li>
                    <li class="list-group-item text-right" ng-if="isVereador" ng-repeat="proposta in detalhe.propostas"><a href="http://divulgacandcontas.tse.jus.br/dados/{{detalhe.eleicao.ano}}/GO/{{detalhe.ufCandidatura}}/{{detalhe.eleicao.id}}/{{detalhe.id}}/{{proposta.nome}}" target="_blank">{{proposta.nome}}</a></li>
            </ul>

            <hr>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- lateral-detalhes -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-4315398813095306"
			     data-ad-slot="1123258073"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
        </div>
                <div class="col-sm-9">
                    <h5>Prestação de contas</h5>
                    <hr>
                    <h6 ng-if="isVereador">Principais despesas <span class="atualizacao">Atualizado em: {{gastos.dataUltimaAtualizacaoContas}}</span></h6>
                    <div class="tab-content" ng-if="isVereador">
                        <div class="tab-pane active" id="home">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style=" font-size: 10px">
                                            <th>Descrição</th>
                                            <th>Quantidade</th>
                                            <th width="100px">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                        <tr ng-repeat="gasto in gastos.concentracaoDespesas" style=" font-size: 10px">
                                            <td>{{gasto.dsDRD}}</td>
                                            <td>{{gasto.qtdeDespesas}}</td>
                                            <td>{{gasto.valor | currency:'R$ '}}</td>
                                        </tr>
                                        <tr style=" font-size: 10px; text-align: right;" class="danger">
                                            <td></td>
                                            <td>Total:</td>
                                            <td class="pull-right"> {{ getTotalGasto() | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <h6 ng-if="isVereador">Doadores</h6>
                    <div class="tab-content" ng-if="isVereador">
                        <div class="tab-pane active" id="home">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style=" font-size: 10px">
                                            <th>CPF</th>
                                            <th>Nome</th>
                                            <th>Quantidade</th>
                                            <th width="100px">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                        <tr ng-repeat="doacao in gastos.rankingDoadores" style=" font-size: 10px">
                                            <td>{{doacao.cpfCnpj}}</td>
                                            <td>{{doacao.nome}}</td>
                                            <td>{{doacao.qntd}}</td>
                                            <td>{{doacao.valor | currency:'R$ '}}</td>
                                        </tr>
                                        <tr style=" font-size: 10px; text-align: right;" class="danger">
                                            <td></td>
                                            <td></td>
                                            <td>Total:</td>
                                            <td class="pull-right"> {{ gastos.dadosConsolidados.totalRecebido | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <h6 ng-if="isVereador">Fornecedores</h6>
                    <div class="tab-content" ng-if="isVereador">
                        <div class="tab-pane active" id="home">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style=" font-size: 10px">
                                            <th>CNPJ</th>
                                            <th>Nome</th>
                                            <th>Quantidade</th>
                                            <th width="100px">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                        <tr ng-repeat="forn in gastos.rankingFornecedores" style=" font-size: 10px">
                                            <td>{{forn.cpfCnpj}}</td>
                                            <td>{{forn.nome}}</td>
                                            <td>{{forn.qntd}}</td>
                                            <td>{{forn.valor | currency:'R$ '}}</td>
                                        </tr>
                                        <tr style=" font-size: 10px; text-align: right;" class="danger">
                                            <td></td>
                                            <td></td>
                                            <td>Total:</td>
                                            <td class="pull-right"> {{ getTotalForn() | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <h5>Lista de Bens</h5>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style=" font-size: 10px">
                                            <th>Descrição</th>
                                            <th>Tipo</th>
                                            <th width="100px">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                        <tr ng-repeat="bem in detalhe.bens" style=" font-size: 10px">
                                            <td>{{bem.descricao}}</td>
                                            <td>{{bem.descricaoDeTipoDeBem}}</td>
                                            <td>{{bem.valor | currency:'R$ '}}</td>
                                        </tr>
                                        <tr style=" font-size: 10px; text-align: right;" class="danger">
                                            <td></td>
                                            <td>Total:</td>
                                            <td class="pull-right"> {{ detalhe.totalDeBens | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <h5>Eleições passadas</h5>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style=" font-size: 10px">
                                            <th>Ano</th>
                                            <th>Cargo</th>
                                            <th>Local</th>
                                            <th>Partido</th>
                                            <th>Número</th>
                                            <th>Situação</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                        <tr ng-repeat="eleicao in detalhe.eleicoesAnteriores" style=" font-size: 10px">
                                            <td>{{eleicao.nrAno}}</td>
                                            <td>{{eleicao.cargo}}</td>
                                            <td>{{eleicao.local}}</td>
                                            <td>{{eleicao.partido}}</td>
                                            <td>{{eleicao.sgUe}}</td>
                                            <td>{{eleicao.situacaoTotalizacao}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        </div>
                    </div>


                </div>
            </div>
        </div>
