    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Candidatos Catalão - Eleições 2016</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="#/home">Início</a>
          <a class="nav-item nav-link" href="#/vereadores">Candidatos a Vereador</a>
          <a class="nav-item nav-link" href="#/prefeitos">Candidatos a Prefeito</a>
          <!-- <a class="nav-item nav-link" href="#/estatisticas">Estatísticas</a> -->
          <!-- <a class="nav-item nav-link" href="#/sobre">Sobre</a> -->
        </nav>
      </div>
    </nav>
