<div class="container"> 
    <div class="row">
    	<div class="col-md-12 main">
    	            <div class="row placeholders">
                <div class="col-md-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- lateral-detalhes -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-4315398813095306"
						     data-ad-slot="1123258073"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
                </div>
            </div>
		    <ul class="list-group">
		        <li class="list-group-item">
		        	<a href="#/vereadores">Lista de Vereadores</a>
		        </li>
		        <li class="list-group-item">
		        	<a href="#/prefeitos">Lista de Prefeitos</a>
		        </li>
		    </ul>
		</div>
	</div>
</div>
