<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            Busca
            <input ng-model="busca" class="form-control">

            Partido

            Escolaridade

            Mandatos
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <h2>Vereadores</h2>

            <div class="row placeholders" ng-if="carregando">
                <div class="col-md-12">Carregando...</div>
            </div>

            <div class="row placeholders" ng-if="!carregando">
                <div class="col-xs-4 col-sm-2 placeholder foto-candidato" ng-repeat="vereador in vereadores | filter:busca">
                    <a href ng-href="#/candidato/{{::vereador.id}}">
                        <img ng-src="{{::urlFoto}}{{::vereador.id}}" width="100" height="100" class="img-fluid" alt="{{::vereador.nomeUrna}}">
                        <h6>{{ ::vereador.nomeUrna }}<br>{{::vereador.numero}}</h6>
                    <!-- <span class="text-muted">{{ vereador.nomeColigacao }}<br>{{ vereador.partido.sigla }}</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>